:root {
    --primary-color: #088da5;
}

.header {
    background-color:  rgb(141,194,111);
    height: 60px;
}

/* content */
.btn {
    width: 100%;
    background-color: #76b852;
    height: 36px;
    font-weight: 700;
    margin-top: -10px;
}

.product-img {
    width: 100%;
    height: 130px;
    border-radius: 4px;
}

.product-item {
    position: relative;
    margin-top: 15px;
}

.product-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    background-color: aqua;
    text-align: center;
    border-radius: 3px;
}

.product-price {
    background-color: aqua;
    text-align: right;
    opacity: 0.8;
    border-radius: 4px;
    margin-top: -2px !important;
}

.product-price-wrap {
    text-align: right;
}

.product-item:hover .product-img {
    transform: scale(1.1);
    transition: 0.2s linear;
}

.product-item:hover {
    cursor: pointer;
}

.btn:hover {
    background-color: antiquewhite;
    cursor: pointer;
}
/* Header right */
.content-right {
    background-color: #ece9e9;
    height: 100%;
}
.content-right {
    margin-right: -15px;
}
/* Header left */

.header-left {
    margin-top: 6px;
}
.header-left .search {
    background-color: #FFFF00;
    color: #fff;
    font-weight: 600;
    width: 45px;
    height: 45px;
    text-align: center;
    margin: 1.5px 0 0 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.search>span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 22px;
    margin-left: -534px;
    color: #000;
}

.header-left .search-btn {
    height: 45px;
    width: 240px;
    margin-top: 1.5px;
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header-left .room {
    height: 45px;
    width: 100px;
    border: none;
    color: #000;
    margin: 1.5px 0 0 10px;
    /* padding: 5px 5px; */
    background-color: #fff;
    text-align: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    text-decoration: none;
}
.header-left .room:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: #FF0000;
}
.search .small-room {
    /* display: inline-block; */
}
.header-left .header .class-b,
.header-left .header .class-c,
.header-left .header .class-d,
.header-left .header .ti-write,
.header-left .header .class-a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    display: inline-block;
    padding-top: 7px;
    margin  : 4.5px 0 0 5px;
    
}

.header-left .search .small-room .ti-write {
    font-size: 20px;
}
.header-right .icon-right {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    float: right;
    margin: 9.5px 0 0 5px;
    font-size: 18px;
    padding-top: 11px;
    
}
.header-right .icon-right .ti-power-off{
    text-decoration: none;
}
.header-right .icon-right:hover .ti-power-off{
    transform: scale(1.2);
    cursor: pointer;
    background-color: #FF0000;
}
.header-right .ti-cloud {
    color: rgb(82, 243, 82);
}
.ti-menu-alt,
.ti-fullscreen,
.header-right .ti-power-off {
    color: red;
}
.col-md-7 .table{
    background-color: #e4f4f4;
}
.col-md-7{
    width: 100%;
}
.col-md-7 .table {
    width: 900px;
    height: 388px;
    margin-left: -14px;
    border: 3px solid #ffffff;
    overflow-x: hidden; 
}
.col-md-7 .table .title{
    background-color: rgb(255, 255, 255);
    /* padding-bottom: 3px; */
    width: 100%;
    height: 27px;
    
    /* margin-top: -2px; */
}
.col-md-7 .table .title button{
    background-color: #AAAAAA;
    color: #fff;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}
.table .title .table-header-1 {
    margin-right: 140px;
}
.table .title .table-header-2 {
    margin-left: 68px;
}
.col-md-7 .table .title .ti-time {
    background-color: #FF0000;
    height: 22px;
    width: 174px;
}
.table .title .ti-notepad,
.table .title .ti-reload,
.table .title .ti-bell,
.table .title .ti-time,
.table .title .ti-gift {
    font-size: 15px;
    padding: 2px 5px 5px 5px;
    text-align: center;
}
.col-md-7 .table .title-2 {
    background-color: #e4f4f4;
    /* margin-top: -3px; */
    width: 100%;
    height: 24px;
    margin-bottom: 4px;
}
.col-md-7 .table .title-2 ul li {
    display: inline-block;
    padding-top: 2px;
}
.title-2 .title-con-1 {
    margin-left: -35px;
}
.title-2 .title-con-2 {
    margin-right: 220px;
}
.title-2 .title-con-4,
.title-2 .title-con-5,
.title-2 .title-con-3 {
    margin: 0 50px 0 0;
}
.col-md-7 .table .table-content-2{
    background-color: #e4f4f4;
    /* margin-top: -5px; */
}


.col-md-7 .table-content {
    width: 833px;
    /* margin-top: -16px; */
    /* padding: 1px 0; */
    /* background-color: rgb(255, 255, 255); */
}
/* .table-content ul li {
    display: inline-block;
    padding: 0 0 15px 0;
}
.table-content ul {
    padding-top: 15px;
} */

.table .table-content .plus,
.table .table-content .minus{
    width: 30px;
    height: 30px;
    border: 1px solid #d4d2d2;
}
.table .table-content .minus {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.table .table-content .plus {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.table .table-content .sl {
    width: 65px;
    height: 30px;
    text-align: center;
}

.table .table-content .unit-price{
    width: 80px;
}
.table .table-content .money {
    width: 80px;
    /* border: none; */
}
.table-content .cuba {
    margin-right: 300px;
}
.table .table-content .ti-bell {
    margin-left: -38px;
}
.table .table-content .cuba {
    margin-left: 25px;
}
.table-content .unit-price {
    margin-left: 31px;
}
.table-content .money {
    margin-left: 37px;
    border: none;
}
.table-content .minus3{
    margin-left: -24px;
}
.table-content .minus2{
    margin-left: 22px;
}
.table .end{
    width: 842px;
    margin-top: 180px;
    /* border-top: 1px solid green; */
        border-bottom: 2px dotted red;
}
.col-md-7 .table-end{
    width: 900px;
    height: 280px;
    background-color: #ece9e9;
    margin: -16px 0 0 -15px;
}

.table-end-1 {
    margin: 10px 0 0 10px;
}

.table-end .table-end-1 input.seach-kh{
    height: 28px;
    border: none;
    width: 255px;
}
.table-end .table-end-1 .ti-layout-media-center,
.table-end .table-end-1 .ti-plus{
    height: 28px;
    width: 38px;
}
.table-end .table-end-1 .ti-plus,
.table-end .table-end-1 .ti-layout-media-center{
    color: #000;
    background-color: #e5e3e3;
    padding-top: 6px;
    padding-left: 11px;
}

.table-end-1 .ti-plus{
    margin-right: 150px;
}

.table-end-1 input.money-sum-2 {
    width: 147px;
    height: 28px;
    margin-right: 15px;
}

.table-end-1 .money-sum {
    width: 126px;
    height: 28px;
    margin-right: 73.5px;
    margin-left: -4px;
}

.ti-calendar,
.ti-time,
.table-end-2 .table-end-2-time{
    background-color: #fff;
    border: none;
    height: 28px;
}
.table-end-2 .table-end-2-time{
    width: 252px;
    text-align: left;
    margin: 10px 0 0 10px;
}

.table-end-2 .ti-calendar,
.table-end-2 .ti-time{
    color: #000;
    padding-top: 6px;
    padding-left: 11px;
    height: 28px;
    width: 38px;
    margin-top: 10px;
}

.table-end-2  .ti-time{
    margin-right: 150px;
    
}
.table-end-2 .sum-ck,
.table-end-2 .ti-gift,
.table-end-2 .table-end-2-ck{
    margin-top: 12px;
}
.table-end-2 .sum-ck input.sum-ck1{
    width: 147px;
    margin-right: 15px;
}
.table-end-2 .ti-gift{
    margin-left: 74px;
    margin-right: 33px;
    padding-top: 5px;
    color: #0e5f6d;
}
.table-end .table-end-3 {
    margin: 5px 0 0 10px;
}
.table-end .table-end-3 .bt-2,
.table-end .table-end-3 .bt-3,
.table-end .table-end-3 .bt-4,
.table-end .table-end-3 .bt-1{
    background-color: #fff;
}

.table-end .table-end-3 .bt-3,
.table-end .table-end-3 .bt-1 {
    height: 28px;
}

.table-end .table-end-3 .ti-angle-down{
    margin-right: 10px;
    height: 28px;
    padding: 8px 9px 8px 5px;
}
.table-end .table-end-3 .kt{
    width: 197px;
    text-align: left;
}
/* .table-end .table-end-3 .bt-4, */
.table-end .table-end-3 .bt-3,
/* .table-end .table-end-3 .bt-2, */
.table-end .table-end-3 .bt-1{
    line-height: 30px;
}
.table-end .table-end-3 .bt-3{
    margin-left: -1px;
}
.table-end .table-end-3 .ti-angle-down-1{
    margin-right: 150px;
}

.table-end .table-end-3 .bt-6,
.table-end .table-end-3 .bt-7,
.table-end .table-end-3 .bt-8,
.table-end .table-end-3 .bt-9 {
    height: 28px;
    width: 30px;
    background-color: #088da5;
    margin: 0 38px 0 0;
    padding-left: 10px;
    border-radius: 3px;
    margin-left: 6.5px;

}

.table-end .table-end-3 .bt-5 {
 margin-right: 60px;
}

.table-end .table-end-4 {
    margin: 10px 0 0 10px;
}

.table-end-4 .table-end-4-one input.table-end-4-one1 {
    border: none;
    height: 28px;
    width: 327px;
}

/* .table-end .table-end-4-two,
.table-end .table-end-4-three,
.table-end .table-end-4-one {
    margin: 8px 0 0 6px;
    border: none;
} */
.table-end .table-end-4-one{
    width: 335.5px;
    margin-right: 142px;
}
.table-end .table-end-4-two{
    background-color: #ece9e9;
    margin-right: 123px;
}
.table-end .table-end-4-three input.table-end-4-three1 {
    background-color: #fff;
    height: 28px;
    width: 147px;
    border: 1px solid;
    margin-right: 15px;
}

.table-end .table-end-5 {
    margin: 10px 0 0 10px;
}

.table-end .table-end-5 button,
.table-end .table-end-5 input{
    border: none;
    /* margin: 4px 0 0 6px; */
}
.table-end-5 .table-end-5-one{
    width: 328px;
    height:48px;
}
.table-end-5 .table-end-5-four,
.table-end-5 .table-end-5-three,
.table-end-5 .table-end-5-two{
    background-color: #ece9e9;
}

.table-end-5 .table-end-5-four {
    margin-right: 25px;
}

.table-end-5 .table-end-5-four,
.table-end-5 .table-end-5-three {
    padding: 6px;
}

.table-end .table-end-5 .table-end-5-one{
    margin-right: 140px;
} 
.table-end-5 .table-end-5-five{
    width: 147px;
    text-align: right;
    border: 1px solid #000 !important;
}
.table-end-5 .ti-files{
    color: #088da5;
}
.table-end-5 .ti-layout-media-center{
    color: red;
}
/* .table-end .table-end-5 .ti-layout-media-center, */
.table-end .table-end-5 .ti-files{
    margin-left: -1px;
}
.table-end .table-end-5 .table-end-5-six{
    margin-left: 472px;
    margin-right: 193px;
    margin-top: -5px;
    background-color: #ece9e9;
}
.table-end .table-end-5 .table-end-5-five,
.table-end .table-end-5 .table-end-5-four,
.table-end .table-end-5 .table-end-5-three,
.table-end .table-end-5 .table-end-5-two{
    position: relative;
    top: -16px;
}
.table-end .table-end-5 .table-end-5-six,
.table-end .table-end-5 .table-end-5-seven{
    position: relative;
    top: -21px;
}
.table-end .table-end-5 .table-end-5-seven{
    height: 28px;
    width: 30px;
    background-color: #088da5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 1px 9px 1px 9px;
    color: #fff;
}
.table-end-6 {
    position: relative;
    top: -16px;
}
.table-end .table-end-6 button{
    border: none;
    color: #fff;
    position: relative;
}
.table-end .table-end-6 .table-end-6-two,
.table-end .table-end-6 .table-end-6-four,
.table-end .table-end-6 .table-end-6-one{
    background-color: #088da5;
    width: 278px;
    height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.table-end .table-end-6 .table-end-6-five{
    background-color: #FFFF00;
    width: 278px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 30px;
}
.table-end .table-end-6 .table-end-6-three{
    width: 269px;
    height: 66px;
    background-color: #FF0000;
    /* padding: 0 0 20px 0; */
    position: relative;
    /* padding: 0 0 30px 0; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.table-end .table-end-6 .table-end-6-two,
.table-end .table-end-6 .table-end-6-one{
    position: relative;
    top: -17px;
}
.table-end .table-end-6 .table-end-6-five,
.table-end .table-end-6 .table-end-6-four{
    position: relative;
    top: -30px;
}

.btn-delete:hover{
    cursor: pointer;
}
.minus:hover, .plus:hover{
    cursor: pointer;
    background-color: red;
}